@font-face {
  font-family: 'Rye';
  src: url('/fonts/Rye-Regular.woff2') format('woff2'), /* Assuming the font file is in public/fonts */
       url('/fonts/Rye-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Libre Bodoni';
  src: url('/fonts/LibreBodoni-Regular.woff2') format('woff2'), /* Adjust according to your font file names */
       url('/fonts/LibreBodoni-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
  color: var(--foreground);
  background:  #f0f0f0;
  font-family: 'Libre Bodoni', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
